@import "tailwindcss";
@import "@heroui/styles";

.dashboard-sidebar-desktop {
  display: none;
}

.dashboard-sidebar-mobile {
  display: block;
}

@media (min-width: 1024px) {
  .dashboard-sidebar-desktop {
    display: flex !important;
    min-height: 100vh;
    position: sticky;
    top: 0;
  }

  .dashboard-sidebar-mobile {
    display: none !important;
  }
}


